@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
    --color-light: rgb(203 213 225);
    --color-mid: rgb(51 65 85);
    --color-dark: rgb(71 85 105);
}



body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.color {
    color: white;
}

.bgcolor {
    gap: 51px;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
    font-weight: 500;
    padding: 10px 36px 10px 36px;
    overflow: hidden;
    z-index: 2;
}

.border-radius {
    border-radius: 26px;
}


.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* ChatBot section */


.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    z-index: 1;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #724ae8;
    transition: all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: #fff;
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
    opacity: 1;
    height: 406px;
    width: 322px;
    pointer-events: auto;
    transform: scale(1);
    z-index: 1;
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #724ae8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 62%;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #724ae8;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #724ae8;
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    font-family: 'Poppins';
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.chat-input span {
    align-self: flex-end;
    color: #724ae8;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }

    .chatbot .chat-input {
        padding: 5px 15px;
    }

    .chatbot header span {
        display: block;
    }
}

/* top banner */

.top-banner {
    /* background-image: url('./assets/asset\ 30.png'); */
    background-color: #231e3f;
    background-size: 300px;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* nav bar */

nav {
    z-index: 1;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    /* background-color: #000204; */
    position: fixed;
    top: 35px;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
    font-weight: bold;
}

.nav-toggle {
    display: none;
}

/* header section */

header {
    margin-top: 24px;
    padding: 50px var(--padding-inline-section) 0;
    /*top  left-right bottom*/
}

.header-section {
    justify-content: center;
    margin-top: -17px;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
}

.get-started-btn {
    margin-top: 20px;
}

.header-right img {
    height: 500px;
    width: 521px;
    /* width: 100%; */
}

#element {
    color: rgb(67, 14, 128);
    font-size: 3rem;
    font-weight: 700;
}

/* companies section */

.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos-1 {
    display: flex;
}

.logos-1:hover .logos-slide {
    animation-play-state: paused;
}

.logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 40px;

}

.logo {
    height: 46px;
    margin: 0 40px;
}


.logos-slide {
    display: inline-block;
    white-space: nowrap;
    animation: 20s slide infinite linear;
}

/* features section */

.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
    margin-bottom: 40px;
}

.features-heading-text {
    margin-bottom: 20px;
}

.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.features-card img {
    width: 60px;
}

/* big feature section */

.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
    gap: 30px;
}

#second-big-feature {
    flex-direction: row-reverse;
}

.feature-img img {
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* examples section */

.examples-section {
    padding: 80px var(--padding-inline-section)
}

.examples-header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.examples-area {
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.examples-card {

    width: 23%;
    position: relative;
    height: 300px;
    border-radius: 75px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.3)), url(./assets/per-3.jpg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.examples-card:hover {
    box-shadow: 0 0 10px #888;
    height: 200px;
}

.examples-card:nth-child(3) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/per-2.jpg);
    background-size: cover;
}

.examples-card:nth-child(4) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/per-5.jpg);
    background-size: cover;
}

.card-text {
    border-radius: 33px;
    background-color: #0e03218a;
    font-size: 17px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/* cta section */

.cta-section-container {
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}

.cta-section {
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #000204;
}

.cta-section-container p {
    color: white;
    margin-top: 20px;
}

/* FAQ section */
.accordion {
    display: flex;
    max-width: 1010px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 25px;
    padding: 45px 90px 45px 60px;
}

.accordion .image-box {
    height: 360px;
    width: 300px;
}

.accordion .image-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.accordion .accordion-text {
    width: 60%;
}

.accordion .accordion-text .title {
    font-size: 35px;
    font-weight: 600;
    color: #7d2ae8;
    font-family: 'Fira Sans', sans-serif;
}

.accordion .accordion-text .faq-text {
    margin-top: 25px;
    height: 263px;
    overflow-y: auto;
}

.faq-text::-webkit-scrollbar {
    display: none;
}

.accordion .accordion-text li {
    list-style: none;
    cursor: pointer;
}

.accordion-text li .question-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-text li .question-arrow .question {
    font-size: 18px;
    font-weight: 500;
    color: #595959;
    transition: all 0.3s ease;
}

.accordion-text li .question-arrow .arrow {
    font-size: 20px;
    color: #595959;
    transition: all 0.3s ease;
}

.accordion-text li.showAnswer .question-arrow .arrow {
    transform: rotate(-180deg);
}

.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow {
    color: #7d2ae8;
}

.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow {
    color: #7d2ae8;
}

.accordion-text li .line {
    display: block;
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.1);
}

.accordion-text li p {
    width: 92%;
    font-size: 15px;
    font-weight: 500;
    color: #595959;
    display: none;
}

.accordion-text li.showAnswer p {
    display: block;
}

@media (max-width: 994px) {
    body {
        padding: 40px 20px;
    }

    .accordion {
        max-width: 100%;
        padding: 45px 60px 45px 60px;
    }

    .accordion .image-box {
        height: 360px;
        width: 220px;
    }

    .accordion .accordion-text {
        width: 63%;
    }
}

@media (max-width: 820px) {
    .accordion {
        flex-direction: column;
    }

    .accordion .image-box {
        height: 360px;
        width: 300px;
        background: #7d2ae8;
        width: 100%;
        border-radius: 25px;
        padding: 30px;
    }

    .accordion .accordion-text {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 538px) {
    .accordion {
        padding: 25px;
    }

    .accordion-text li p {
        width: 98%;
    }
}


/* footer */

footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.contact-form {
    color: white;
    background-color: rgb(40, 8, 70);
    padding: 60px 20px 71px 20px;
    border-radius: 26px;
}

/* toolkit */
/* #toolkit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
} */


.iconDiv {
    height: 36px;
    width: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4px;
    padding: 4px;
    margin-right: 10px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}

.iconSVG {
    height: 36px;
    aspect-ratio: 1 / 1;
}

.iconDiv:hover,
.iconDiv:focus-visible {
    width: 142px;
    background-color: var(--color-mid);
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}

.iconDiv:focus-visible {
    outline: 1px solid var(--color-mid);
    outline-offset: 4px;
}

.iconDiv:active {
    opacity: 0.9;
}

.iconDiv::after {
    content: attr(tooltip);
    margin-left: 12px;
    -webkit-animation: fadeIn 600ms linear forwards;
    animation: fadeIn 600ms linear forwards;
}

.spacer {
    flex-grow: 1;
}

.divider {
    height: 36px;
    width: 1px;
    margin: 24px 18px;
    background-color: var(--color-dark);
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* subfooter */

.subfooter-text {
    display: flex;
    flex-direction: column;

}

.subfooter {

    background-color: #231e3f;
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}